integration/xsd/management.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "common.ent">
    %common;
]>

<application 
   xmlns="http://wadl.dev.java.net/2009/02"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
   xmlns:wadl="http://wadl.dev.java.net/2009/02"
   xmlns:dbaas="http://docs.openstack.org/database/api/v1.0">

  <grammars>
    <include href="dbaas.xsd"/>
    <include href="management.xsd"/>
  </grammars>
  <resources base="https://localhost:8775">
    <resource id="mgmt" path="mgmt">
      <resource id="hosts" path="hosts">
          <method href="#gethosts"/>
          <resource id="hostid" path="{hostId}">
              <param name="hostId" style="template" type="xsd:string">
                <doc>The host ID for the specified host.</doc></param>
              <method href="#gethostbyid"/>
            <resource id="instances-hostId" path="instances">
              <resource id="instanceAction-hostId" path="action">
                <method href="#updateHostInstances" />
              </resource>
            </resource>
              </resource>
          </resource>
      <resource id="instances" path="instances">
        <method href="#getIndex"/>
        <resource id="instanceId" path="{instanceId}">
          <param name="instanceId" style="template" type="xsd:string"> 
            <doc>The instance ID for the specified database instance.</doc></param>
          <method href="#showinstances"/>
          <resource id="rootdetails" path="root">
              <method href="#getrootdetails"/>
          </resource>
          <resource id="diagnostics" path="diagnostics">
              <method href="#getdiagnosticdetails"/>
          </resource>
          <resource id="instanceAction" path="action">
            <method href="#rebootInstance" />
          </resource>
          <resource id="hwInfo" path="hwinfo">
            <method href="#getHwInfo" />
          </resource>
        </resource>
      </resource>
      <resource id="storage" path="storage">
        <method href="#indexstorage"/>
      </resource>
      <resource id="accounts" path="accounts">
        <method href="#getaccounts"/>
        <resource id="accountid" path="{accountId}">
          <param name="accountId" style="template" type="xsd:string">
            <doc>The account ID for the specified account.</doc>
          </param>
          <method href="#getaccountbyid"/>
        </resource>
      </resource>
    </resource>
  </resources>

  <!--Methods-->
  <method name="GET" id="getaccounts">
    <wadl:doc xml:lang="EN" title="List All Active Accounts" xmlns="http://docbook.org/ns/docbook">
      <para role="shortdesc">
        Lists all of the accounts owning at least one instance that is not deleted.
      </para>
      <para>This operation returns a list of all the accounts across all locations that own at least one instance that has not been deleted, that is, all accounts of current users.</para>
    </wadl:doc>
    <request>
      <representation mediaType="application/xml">
        <doc>
          <para xmlns="http://docbook.org/ns/docbook">The following examples show the List All Active Accounts requests:</para>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-list-accounts-request.xml"/>
        </doc>
      </representation>
      <representation mediaType="application/json">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-list-accounts-request.json"/>
        </doc>
      </representation>
    </request>
      <response status="200">
      <representation mediaType="application/xml" element="dbaas:Hosts">
      <doc>
        <para xmlns="http://docbook.org/ns/docbook">The following examples show the List All Active Accounts responses:</para>
        <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-list-accounts-response.xml"/>
      </doc>
      </representation>
      <representation mediaType="application/json" element="dbaas:Hosts">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-list-accounts-response.json"/>
        </doc>
      </representation>
    </response>
    &commonFaults;
    &getFaults;
  </method>

  <method name="GET" id="gethosts">
    <wadl:doc xml:lang="EN" title="List All Compute Hosts" xmlns="http://docbook.org/ns/docbook">
      <para role="shortdesc">
        Lists all of the compute hosts.
      </para>
      <remark>Reviewer: in the DNS project, we have been requested by the customer to provide a table of parameters (should be pulled automatically if parms defined in wadl) and a table of attributes (for calls that allow detailed info about the object created to be specified. No doubt our DB customers will want this too.</remark>
      <remark>Reviewer: These tables probably need 4 columns: name; parameter type: e.g. template, query, etc.; data type: string, etc.; required?; description.</remark>
      <para>This operation returns a list of all the hosts from the database that are running the binary 'nova-compute'.</para>
    </wadl:doc>
    <request>
      <representation mediaType="application/xml">
        <doc>
          <para xmlns="http://docbook.org/ns/docbook">The following examples show the List All Compute Hosts requests:</para>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-list-hosts-request.xml"/>
        </doc>
      </representation>
      <representation mediaType="application/json">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-list-hosts-request.json"/>
        </doc>
      </representation>
    </request>
      <response status="200">
      <representation mediaType="application/xml" element="dbaas:Hosts">
      <doc>
        <para xmlns="http://docbook.org/ns/docbook">The following examples show the List All Compute Hosts responses:</para>
        <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-list-hosts-response.xml"/>
      </doc>
      </representation>
      <representation mediaType="application/json" element="dbaas:Hosts">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-list-hosts-response.json"/>
        </doc>
      </representation>
    </response>
    &commonFaults;
    &getFaults;
  </method>

  <method name="GET" id="gethostbyid">
    <wadl:doc xml:lang="EN" title="List All Instances for a Host" xmlns="http://docbook.org/ns/docbook">
      <para role="shortdesc">
        Lists all of the instances for the specified host.
      </para>
      <remark>Reviewer: in the DNS project, we have been requested by the customer to provide a table of parameters (should be pulled automatically if parms defined in wadl) and a table of attributes (for calls that allow detailed info about the object created to be specified. No doubt our DB customers will want this too.</remark>
      <remark>Reviewer: These tables probably need 4 columns: name; parameter type: e.g. template, query, etc.; data type: string, etc.; required?; description.</remark>
      <para>This operation returns the following information:</para>
      <itemizedlist spacing="compact">
        <listitem>
          <para>host name</para>
        </listitem>
        <listitem>
          <para>percent of RAM used</para>
        </listitem>
        <listitem>
          <para>total RAM on host</para>
        </listitem>
        <listitem>
          <para>used RAM on host</para>
        </listitem>
        <listitem>
          <para>a list of the compute instances running on the given host</para>
        </listitem>
      </itemizedlist>
      <para>If the host name does not exist, a 404 not found error is returned.</para>
    </wadl:doc>
    <request>
      <representation mediaType="application/xml">
        <doc>
          <para xmlns="http://docbook.org/ns/docbook">The following examples show the List All Instances for a Host requests:</para>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-host-detail-request.xml"/>
        </doc>
      </representation>
      <representation mediaType="application/json">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-host-detail-request.json"/>
        </doc>
      </representation>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="dbaas:Host">
        <doc>
          <para xmlns="http://docbook.org/ns/docbook">The following examples show the List All Instances for a Host responses:</para>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-host-detail-response.xml"/>
        </doc>
      </representation>
      <representation mediaType="application/json" element="dbaas:Host">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-host-detail-response.json"/>
        </doc>
      </representation>
    </response>
    &commonFaults;
    &getFaults;
  </method>

  <method name="GET" id="getIndex">
    <wadl:doc xml:lang="EN" title="List Management Index of Instances" xmlns="http://docbook.org/ns/docbook">
      <para role="shortdesc">
        Lists all of the database instances, optionally filtered by deleted status.
      </para>
    </wadl:doc>
    <request>
        <param name="deleted" style="query" type="xsd:boolean">
          <wadl:doc xmlns="http://docbook.org/ns/docbook">
            <para>This query parameter specifies whether or not to list deleted instances. 
              If <code>true</code>, deleted instances are listed. If <code>false</code>, deleted instances are not listed.
            </para>
          </wadl:doc>
        </param>
      <representation mediaType="application/xml">
        <doc>
            <para xmlns="http://docbook.org/ns/docbook">The following examples show the List All Instances requests:</para>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-instance-index-request.xml"/>
        </doc>
      </representation>
      <representation mediaType="application/json">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-instance-index-request.json"/>
        </doc>
      </representation>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="dbaas:ManagementIndexInstances">
      <doc>
        <para xmlns="http://docbook.org/ns/docbook">The following examples show the List All Instances response:</para>
        <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-instance-index-response.xml"/>
      </doc>
      </representation>
      <representation mediaType="application/json">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-instance-index-response.json"/>
          <para xmlns="http://docbook.org/ns/docbook">By default, all instances (both deleted and not deleted) are displayed. 
            Use the <code>deleted</code> query parameter to list only the deleted or not deleted instances.</para>
        </doc>
      </representation>
    </response>
    &commonFaults;
    &getFaults;
  </method>

  <method name="GET" id="showinstances">
    <wadl:doc xml:lang="EN" title="List Database Instance Status and Details" xmlns="http://docbook.org/ns/docbook">
      <para role="shortdesc">
        Returns detailed information for the specified Database Instance.
      </para>
      <remark>Reviewer: in the DNS project, we have been requested by the customer to provide a table of parameters (should be pulled automatically if parms defined in wadl) and a table of attributes (for calls that allow detailed info about the object created to be specified. No doubt our DB customers will want this too.</remark>
      <remark>Reviewer: These tables probably need 4 columns: name; parameter type: e.g. template, query, etc.; data type: string, etc.; required?; description.</remark>
      <para>This operation returns detailed information about the status and details for the specified database instance.</para>
    </wadl:doc>
    <request>
      <representation mediaType="application/xml">
        <doc>
          <para xmlns="http://docbook.org/ns/docbook">The following examples show the List Database Instance Status and Details requests:</para>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-instance-details-request.xml"/>
        </doc>
      </representation>
      <representation mediaType="application/json">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-instance-details-request.json"/>
        </doc>
      </representation>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="ManagementInstances">
        <doc>
          <para xmlns="http://docbook.org/ns/docbook">The following examples show the List Database Instance Status and Details responses:</para>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-instance-details-response.xml"/>
        </doc>
      </representation>
      <representation mediaType="application/json" element="ManagementInstances">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-instance-details-response.json"/>
        </doc>
      </representation>
    </response>
    &commonFaults;
    &getFaults;
  </method>

    <!-- Instance Actions -->
  <method name="POST" id="rebootInstance">
    <wadl:doc xml:lang="EN" title="Reboot the Instance"  xmlns="http://docbook.org/ns/docbook">
      <para role="shortdesc">Perform a reboot of the instance.</para>
      <para>This operation will reboot the underlying OS along with the mysql instance.</para>
      <para>This operation returns a 202 Accepted response.</para>
    </wadl:doc>
    <request>
      <representation mediaType="application/xml" element="dbaas:Reboot">
        <doc>
          <para xmlns="http://docbook.org/ns/docbook">The following examples show the Reboot Instance requests:</para>
          <xsdxt:code href="../apidocs/src/resources/samples/db-instance-reboot-request.xml"/>
        </doc>
      </representation>
      <representation mediaType="application/json" element="dbaas:Reboot">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-instance-reboot-request.json"/>
        </doc>
      </representation>
    </request>
    <response status="202">
      <representation mediaType="application/xml">
        <doc>
          <para xmlns="http://docbook.org/ns/docbook">The following examples show the Reboot Instance responses:</para>
          <xsdxt:code href="../apidocs/src/resources/samples/db-instance-reboot-response.xml"/>
        </doc>
      </representation>
      <representation mediaType="application/json">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-instance-reboot-response.json"/>
        </doc>
      </representation>
    </response>
    &commonFaults;
    &getFaults;
    &postPutFaults;
  </method>

  <method name="POST" id="updateHostInstances">
    <wadl:doc xml:lang="EN" title="Update All Instances on Host"  xmlns="http://docbook.org/ns/docbook">
      <para role="shortdesc">Update all instances on a specified host.</para>
      <para>This operation will call on all guest agents in a specified host to install new versions of itself.</para>
      <para>This operation returns a 202 Accepted response.</para>
    </wadl:doc>
    <request>
      <representation mediaType="application/xml" element="dbaas:Update">
        <doc>
          <para xmlns="http://docbook.org/ns/docbook">The following examples show the Update all Instances on Host requests:</para>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-host-update-request.xml"/>
        </doc>
      </representation>
      <representation mediaType="application/json" element="dbaas:Update">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-host-update-request.json"/>
        </doc>
      </representation>
    </request>
    <response status="202">
      <representation mediaType="application/xml">
        <doc>
          <para xmlns="http://docbook.org/ns/docbook">The following examples show the Update all Instances on Host responses:</para>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-host-update-response.xml"/>
        </doc>
      </representation>
      <representation mediaType="application/json">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-host-update-response.json"/>
        </doc>
      </representation>
    </response>
    &commonFaults;
    &getFaults;
    &postPutFaults;
  </method>

  <method name="GET" id="indexstorage">
    <wadl:doc xml:lang="EN" title="List Storage Device Details" xmlns="http://docbook.org/ns/docbook">
      <para role="shortdesc">
        Returns detailed information for the storage device.
      </para>
      <remark>Reviewer: in the DNS project, we have been requested by the customer to provide a table of parameters (should be pulled automatically if parms defined in wadl) and a table of attributes (for calls that allow detailed info about the object created to be specified. No doubt our DB customers will want this too.</remark>
      <remark>Reviewer: These tables probably need 4 columns: name; parameter type: e.g. template, query, etc.; data type: string, etc.; required?; description.</remark>
      <para>This operation returns detailed information about the details for the storage device.</para>
    </wadl:doc>
    <request>
      <representation mediaType="application/xml">
        <doc>
          <para xmlns="http://docbook.org/ns/docbook">The following examples show the List Storage Device Details requests:</para>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-storage-request.xml"/>
        </doc>
      </representation>
      <representation mediaType="application/json">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-storage-request.json"/>
        </doc>
      </representation>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="dbaas:Devices">
      <doc>
        <para xmlns="http://docbook.org/ns/docbook">The following examples show the List Storage Device Details responses:</para>
        <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-storage-response.xml"/>
      </doc>
      </representation>
      <representation mediaType="application/json" element="dbaas:Devices">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-storage-response.json"/>
        </doc>
      </representation>
    </response>
    &commonFaults;
    &getFaults;
  </method>
  
  <method name="GET" id="getaccountbyid">
    <wadl:doc xml:lang="EN" title="List Account Details" xmlns="http://docbook.org/ns/docbook">
      <para role="shortdesc">
        Returns detailed information for the specified account.
      </para>
      <remark>Reviewer: This section needs examples.</remark>
      <para>This operation returns: </para>
      <itemizedlist spacing="compact">
        <listitem>
          <para>account name</para>
        </listitem>
        <listitem>
          <para>id</para>
        </listitem>
        <listitem>
          <para>list of hosts that have the id</para>
        </listitem>
        <listitem>
          <para>instance name</para>
        </listitem>
        <listitem>
          <para>status of each instance on the hosts</para>
        </listitem>
      </itemizedlist>
    </wadl:doc>
    <request>
      <representation mediaType="application/xml">
        <doc>
          <para xmlns="http://docbook.org/ns/docbook">The following examples show the List Account Details requests:</para>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-account-details-request.xml"/>
        </doc>
      </representation>
      <representation mediaType="application/json">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-account-details-request.json"/>
        </doc>
      </representation>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="dbaas:Account">
        <doc>
          <para xmlns="http://docbook.org/ns/docbook">The following examples show the List Account Details responses:</para>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-account-details-response.xml"/>
        </doc>
      </representation>
      <representation mediaType="application/json" element="dbaas:Account">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-account-details-response.json"/>
        </doc>
      </representation>
    </response>
    &commonFaults;
    &getFaults;
  </method>
  
  <method name="GET" id="getrootdetails">
    <wadl:doc xml:lang="EN" title="Get Root Details" xmlns="http://docbook.org/ns/docbook">
      <para role="shortdesc">
        Gets the root flag details for the specified instance.
      </para>
      <remark>Reviewer: Need the description for the summary table above and the detailed description for the next paragraph.</remark>
      <para>This operation shows the root flag details for the specified instance.</para>
    </wadl:doc>
    <request>
      <representation mediaType="application/xml">
        <doc>
          <para xmlns="http://docbook.org/ns/docbook">The following examples show the Get Root Details requests:</para>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-root-details-request.xml"/>
        </doc>
      </representation>
      <representation mediaType="application/json">
        <doc>
          <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-root-details-request.json"/>
        </doc>
      </representation>
    </request>
      <response status="200">
          <representation mediaType="application/xml" element="dbaas:RootDetails">
            <doc>
              <para xmlns="http://docbook.org/ns/docbook">The following examples show the Get Root Details responses:</para>
              <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-root-details-response.xml"/>
            </doc>
          </representation>
          <representation mediaType="application/json" element="dbaas:RootDetails">
            <doc>
              <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-get-root-details-response.json"/>
            </doc>
          </representation>
      </response>
      &commonFaults;
      &getFaults;
  </method>

  <method name="GET" id="getdiagnosticdetails">
      <wadl:doc xml:lang="EN" title="Get Diagnostics Info" xmlns="http://docbook.org/ns/docbook">
          <para role="shortdesc">
              Get the instance agent and other instance diagnostics info.
          </para>
          <para>This operation provides the following info for the guest agent managing the specified instance.</para>
          <table rules="all">
              <caption>Return Attributes for Get Diagnostics Info</caption>
              <thead>
                  <tr>
                      <td colspan="1">Name</td>
                      <td colspan="3">Description</td>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td colspan="1">version</td>
                      <td colspan="3">The version of the guest installed on the instance.</td>
                  </tr>
                  <tr>
                      <td colspan="1">fdSize</td>
                      <td colspan="3">Number of file descriptor slots currently allocated.</td>
                  </tr>
                  <tr>
                      <td colspan="1">vmSize</td>
                      <td colspan="3">Virtual memory size.</td>
                  </tr>
                  <tr>
                      <td colspan="1">vmPeak</td>
                      <td colspan="3">Peak virtual memory size.</td>
                  </tr>
                  <tr>
                      <td colspan="1">vmRss</td>
                      <td colspan="3">Resident set size.</td>
                  </tr>
                  <tr>
                      <td colspan="1">vmHwm</td>
                      <td colspan="3">Peak resident set size ("high water mark").</td>
                  </tr>
                  <tr>
                      <td colspan="1">threads</td>
                      <td colspan="3">Number of threads in process containing this thread.</td>
                  </tr>
              </tbody>
          </table>
      </wadl:doc>
      <request>
          <representation mediaType="application/xml">
              <doc>
                  <para xmlns="http://docbook.org/ns/docbook">The following examples show the Get Diagnostics Info requests:</para>
                  <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-instance-diagnostics-request.xml"/>
              </doc>
          </representation>
          <representation mediaType="application/json">
              <doc>
                  <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-instance-diagnostics-request.json"/>
              </doc>
          </representation>
      </request>
      <response status="200">
          <representation mediaType="application/xml" element="dbaas:DiagnosticsDetails">
              <doc>
                  <para xmlns="http://docbook.org/ns/docbook">The following examples show the Get Diagnostics Info requests:</para>
                  <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-instance-diagnostics-response.xml"/>
              </doc>
          </representation>
          <representation mediaType="application/json">
              <doc>
                  <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-instance-diagnostics-response.json"/>
              </doc>
          </representation>
      </response>
      &commonFaults;
      &getFaults;
  </method>

  <method name="GET" id="getHwInfo">
      <wadl:doc xml:lang="EN" title="Get Hardware Info" xmlns="http://docbook.org/ns/docbook">
          <para role="shortdesc">
              Get the instance hardware info from the guest agent.
          </para>
          <para>This operation provides the following info from the guest agent managing the specified instance.</para>
          <table rules="all">
              <caption>Return Attributes for Get Hardware Info</caption>
              <thead>
                  <tr>
                      <td colspan="1">Name</td>
                      <td colspan="3">Description</td>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td colspan="1">mem_total</td>
                      <td colspan="3">Total memory an instance sees.</td>
                  </tr>
                  <tr>
                      <td colspan="1">num_cpus</td>
                      <td colspan="3">Number of CPUs an instance sees.</td>
                  </tr>
              </tbody>
          </table>
      </wadl:doc>
      <request>
          <representation mediaType="application/xml">
              <doc>
                  <para xmlns="http://docbook.org/ns/docbook">The following examples show the Get Hardware Info requests:</para>
                  <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-instance-hwinfo-request.xml"/>
              </doc>
          </representation>
          <representation mediaType="application/json">
              <doc>
                  <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-instance-hwinfo-request.json"/>
              </doc>
          </representation>
      </request>
      <response status="200">
          <representation mediaType="application/xml" element="dbaas:DiagnosticsDetails">
              <doc>
                  <para xmlns="http://docbook.org/ns/docbook">The following examples show the Get Hardware Info responses:</para>
                  <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-instance-hwinfo-response.xml"/>
              </doc>
          </representation>
          <representation mediaType="application/json">
              <doc>
                  <xsdxt:code href="../apidocs/src/resources/samples/db-mgmt-instance-hwinfo-response.json"/>
              </doc>
          </representation>
      </response>
      &commonFaults;
      &getFaults;
  </method>
</application>
